body {
    background-image: url('/Assets/Pics/background.jpg');
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: #000000;
    color: #4765fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
    margin-top: 20px;
    
}




li a{ color: rgb(39, 63, 64);
    background-color: rgb(208, 255, 255);
    border: rgb(0, 225, 255) solid 1px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    padding: 0;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px 12px 1px rgb(26, 153, 250), inset -2px -2px 12px 1px rgb(26, 153, 250);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;


}

li a:hover{
    color: rgba(39,63,64,0.7);
    background-color: rgb(208, 255, 255);
    border: rgb(0, 225, 255) solid 1px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    padding: 0;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 24px 1px rgb(26, 153, 250), inset 0px 0px 20px 1px rgb(26, 153, 250);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 800;


   
 }

 li a:active{
    color: cadetblue;
    background-color: rgb(208, 255, 255);
    border: rgb(0, 225, 255) solid 1px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    padding: 0;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px rgb(26, 153, 250), inset 0px 0px 20px 1px rgb(26, 153, 250);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 700;


   
 }
 