h1 {
    background-image: url("/assets/pics/pattern.jpeg");
    font-family: helvetaica ;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    }

h2.msgb {
    font-family: helvetaica ;
    font-size: 32px;
    color: white;
    font-weight: bold;
    background-color: mediumspringgreen;
    text-align: center;
    }

    
h2.lcb {
    font-family: helvetaica ;
    font-size: 32px;
    color: white;
    font-weight: bold;
    background-color: lightcoral;
    text-align: center;
    }

    
h2.sbb {
    font-family: helvetaica ;
    font-size: 32px;
    color: white;
    font-weight: bold;
    background-color: skyblue;
    text-align: center;
    }

    strong.price {
        font-family: Helvetica;
        color: blue;

    }

    p {
        font-family: helvetica ;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
     }

     h3 {
        font-family: helvetica ;
        color: white;
        font-weight: bold;
        background-color: lightcoral;
        text-align: center;
     }
